<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jsonViewer" type="Json.Viewer.ViewerConfiguration, Json.Viewer" />
  </configSections>
  <jsonViewer>
    <plugins>
      <add key="default" value="Json.Viewer.JsonObjectVisualizer, JsonViewer" />
      <add key="AjaxNetDateTime" value="Json.Viewer.AjaxNetDateTime, JsonViewer" />
      <add key="CustomDate" value="Json.Viewer.CustomDate, JsonViewer" />
      <add key="Grid" value="Json.Viewer.GridVisualizer, JsonViewer" />
      <!--<add key="Sample" value="Json.Viewer.Sample, JsonViewer" />-->
    </plugins>
    <textEditor>
      <add key="SyntaxHighlighting" value="JavaScript" />
      <add key="ShowInvalidLines" value="true" />
      <add key="ShowHRuler" value="true" />
    </textEditor>
  </jsonViewer>
</configuration>